.main {

  min-height: 100vh; 
  width: 100vw;

  display: flex;
  flex-direction: column;

  gap: 5px;

}

.monster{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: 3px white solid;
}

.monster-img{
  width: 90%;
  height: 80%;
  background-color: #373038;
  border-radius: 10px;
}

.info{
  font-size: 2em;
  color: white;
}

.problems{
  width: 100%;
}
